<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Direcciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>

<ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link active" href="/alumnos">Alumnos</a></li>
    <li class="nav-item"><a class="nav-link active" href="/direcciones">Direcciones</a></li>
    <li class="nav-item"><a class="nav-link active" href="/alumnos/crear">Nuevo Alumno</a></li>
    <li class="nav-item"><a class="nav-link active" href="/direcciones/crear">Nueva Dirección</a></li>
</ul>

<div class="container">

    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <h3>Direcciones</h3>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Calle</th>
                <th scope="col">Numero</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Tipo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="direccion: ${direcciones}">
                <td th:text="${direccion.calle}"/>
                <td th:text="${direccion.numero}"/>
                <td th:text="${direccion.ciudad}"/>
                <td th:text="${direccion.tipo}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
        <p></p>
    </div>
</div>
</body>
</html>